#emotion {
  font-size: 60px;
  text-align: center;
  margin:auto;
  margin-left: 0;
}

.class-progress{
  margin-bottom:20px;
}

.fa-sort-up{
  color:#B49CB7;
}

.fa-sort-down{
  color:#B49CB7;
}

.fa-minus{
  color:#B49CB7;
}
