.section h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80%;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  padding: 30px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(230,230,230);
}
.card img {
  max-height: 250px;
  margin-bottom: 10px;
}

.landing-card-image {
  height: 250px;
}
