<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h1 id="sammi-logo-large">Sammi</h1>
        <p id="sammi-tagline">Supporting Teachers, Supporting Students</p>
        <div class="btn-landing">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmfQBqNPpz1Ney9QPM-Lj3K5_741wHnyXC_tLFsUDqjvbZqQ/viewform?usp=sf_link", target="blank" >Learn More</a>
        </div>
      </div>
      <div class="col-3">
        <%= image_tag asset_path("emotion-reflection.svg"), class: "landing-card-image" %>
      </div>
    </div>
  </div>
</div>
<!-- code a "How it works" section -->
<div class= "section">
  <!-- <h2 class="mt-4 mb-3">How it works</h2> -->
  <div class="cards">
    <div class="card">
      <%= image_tag asset_path("emotion-reflection2.svg"), class: "landing-card-image" %>
      <h3>Awareness</h3>
      <p>Students and teachers shift towards a greater emotional awareness</p>
    </div>

    <div class="card">
      <%= image_tag asset_path("analytics2.svg"), class: "landing-card-image" %>
      <h3>Analytics</h3>
      <p>Teachers gain powerful analytics of students' emotional development</p>
    </div>

    <div class="card">
      <%= image_tag asset_path("teamwork2.svg"), class: "landing-card-image" %>
      <h3>Support</h3>
      <p>Teachers provide informed emotional support to their students </p>
    </div>

  </div>
</div>

