.btn-sammi {
  color: white;
  padding: 5px 24px;
  margin: 5px 0px;
  border-radius: 4px;
  background: #FF8C99;
  transition: background 0.3s ease;
  display: inline-block;
}

.btn-sammi:hover {
  background: #ff97a3;
  color: white;
  text-decoration: none;
}

.btn-ghost{
  background: white;
  padding: 5px 24px;
  margin: 5px 0px;
  color: gray;
  border-radius: 4px;
  border: 1px solid #e1dbdb;
  font-weight: lighter;
}
