.stats-container{
  top: 3%;
  position: sticky;
}
.stats-sticky{
width: 100%;
display: flex;
border-radius: 10px;
background-color: white;
padding:15px;
justify-content: center;
text-align:center;
}

.status-sticky{
width: 100%;
display: flex;
margin-top:25px;
border-radius: 10px;
background-color: white;
padding:auto;
text-align:center;
justify-content: center;
}
