.calendar {
  padding: 20px;
  margin: 5px;
}
.my-date {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: smaller;
  color: rgba(0,0,0,0.4);
}

.my-date-past {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: smaller;
  color: rgba(0,0,0,0.4);
}

.day {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: 1px solid darkgray;
  max-height: 20px !important;
}

.daily-emotion {
  position: relative;
  top: 12px;
  right: 0px;
  font-size: 1.5rem !important;
}

.calendar-heading {
  padding: 0px !important;
  text-align: center;
  font-weight: bold;
}

.calendar-title {
  margin: 0px 10px;
}

.calendar-heading a {
  color: #6D6BB5;
  font-weight: bold;
}

.td {
  max-height: 20px;
  border-right: 1px solid rgba(0,0,0,0.3) !important;
}


