.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.content {
  padding: 0px 50px 0px 50px;
}
.emotion {
  font-size: 160px;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}

.appointment {
  width: 250px;
  background-color: #F4616E;
}
h2 {
  color: #F56C79;
}
.top {
  background-color: #F7E5E9;
  padding: 0px 30px;
  border-radius: 20px;
}

.my-date {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: smaller;
  color: rgba(0,0,0,0.4);
}

.my-date-past {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: smaller;
  color: rgba(0,0,0,0.4);
}

.day {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: 1px solid darkgray;
  max-height: 20px !important;
}

.daily-emotion {
  position: relative;
  top: 12px;
  right: 0px;
  font-size: 1.5rem !important;
}

.calendar {
  padding: 20px;
  margin: 5px;
}
.week {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

.calendar-heading {
  padding: 0px !important;
  text-align: center;
  font-weight: bold;
}

.calendar-heading a {
  color: #6D6BB5;
  font-weight: bold;
}

.td {
  max-height: 20px;
  border-right: 1px solid rgba(0,0,0,0.3) !important;
}

.calendar-title {
  margin: 0px 10px;
}

.nomarg {
  margin: 20px 0px !important;
}
